<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--  ANALYTICS COOKIE CONSENT COOKIE
            Specifies the name of the cookie that holds the value that indicates wether cookies are allowed
      -->
      <setting name="Analytics.CookieManagerCookie" value="cm_analytics" />

      <!--  ANALYTICS GLOBAL COOKIE DURATION VALUE
            Specifies the value of the cookie duration in days for the cookie created by the Cookie Manager when cookies are declined.
            Default: 7
      -->
      <setting name="Analytics.CookieManagerCookieMinDuration" value="7" />

      <!--  ANALYTICS GLOBAL COOKIE DURATION VALUE
            Specifies the value of the cookie duration in days for the cookie created by the Cookie Manager when cookies are accepted.
            Default: 182
      -->
      <setting name="Analytics.CookieManagerCookieMaxDuration" value="182" />
      
      <!--  ANALYTICS GLOBAL COOKIE DURATION VALUE
            Specifies the value of the cookie duration in months.
            Default: 12
      -->
      <setting name="Analytics.GlobalCookieDuration" value="12" />
    </settings>
  </sitecore>
</configuration>